/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");

/* Root */
:root {
  font-size: 62.5%;
  --h1: clamp(3.2rem, 3.8vw, 3.8rem);
  --setempel-color: #ffffff;
  --column-gap: clamp(2rem, 4.2vw, 4.2rem);
  --gap: clamp(2rem, 4.2vw, 4.2rem);
  --title-space: clamp(1.5rem, 2vw, 2rem);
  --h2: clamp(2.4rem, 3.2vw, 3.2rem);
  --accent-color: #ff0000;
  --secondary-color: #f5f5f5;
  --primary-color: #fff;
  --contrast-color: #000;
  --contrast-border-color: #fff;
  --date-picker-color: invert(30%);
  --button-color: #fff;
  --headings-color: #333;
  --body-color: #444;
  --input-color: #fff;
  --white-space: clamp(2rem, 4.2vw, 4.2rem);
  --h3: clamp(2.2rem, 2.4vw, 2.4rem);
  --h4: clamp(1.6rem, 2vw, 2rem);
  --h5: clamp(1.4rem, 1.6vw, 1.6rem);
  --body-text: clamp(1.4rem, 1.6vw, 1.6rem);
  --max-width: 96rem;
  --border-radius: 1.2rem;
  @media (prefers-color-scheme: dark) {
    --date-picker-color: invert(70%);
    --contrast-color: #fff;
    --headings-color: #f0f0f0;
    --body-color: #bebebe;
    --secondary-color: #1d1d1d;
    --primary-color: #0e0e0e;
    --input-color: #1d1d1d;
  }
}

body {
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  background: var(--primary-color);
  overflow-x: hidden;
  box-sizing: border-box;
}

.app-container {
  padding: var(--white-space);
  width: 100%;
  max-width: var(--max-width);
  box-sizing: border-box;
  margin: auto;
}

.app-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
  @media (width < 768px) {
    flex-direction: column;
    text-align: left;
    align-items: start;
  }
}

.app-container header button {
  color: #f5f5f5;
  padding: 0.4rem 1rem;
  background: var(--accent-color);
  font-family: "Source Sans 3", sans-serif;
  font-size: var(--body-text);
  font-weight: 900;
  border: 0;
  transition: 300ms ease-in-out;
}

.app-container button {
  transition: 300ms ease-in-out;
}

.app-container button:hover {
  filter: brightness(85%);
}

.app-container button:active {
  transform: scale(0.95);
}

.app-container header .daftar {
  background: transparent;
  border: 0.1rem solid var(--contrast-color);
  color: var(--contrast-color);
}

.app-container header .masuk {
  background: var(--contrast-color);
  color: var(--primary-color);
}

.app-container header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.app-container h1,
.app-container h2,
.app-container h3,
.app-container h4,
.app-container h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

.app-container h2,
.app-container h3,
.app-container h4,
.app-container h5 {
  color: var(--headings-color);
}

.app-container h1 {
  font-size: var(--h1);
  color: var(--contrast-color);
  text-align: left;
}

.app-container h1 span {
  color: var(--accent-color);
}

.app-container h2 {
  font-size: var(--h2);
}

.app-container h3 {
  font-size: var(--h3);
}

.app-container h4 {
  font-size: var(--h4);
}

.app-container h5 {
  font-size: var(--h5);
}

.app-container p,
.app-container a,
.app-container figcaption,
input,
select {
  font-family: "Source Sans 3";
  font-size: var(--body-text);
  color: var(--body-color);
  line-height: 1.5;
  font-weight: 400;
  max-width: 80ch;
}

select {
  color: var(--contrast-color);
  font-weight: 400;
  background: var(--secondary-color);
  font-family: "Source Sans 3";
}

.app-container strong {
  font-weight: bold;
  color: var(--headings-color);
}

.app-container section {
  margin-bottom: 4rem;
  box-sizing: border-box;
}

.app-container .list-capres ul {
  display: grid;
  width: 100%;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-top: 2rem;
}

.app-container .list-capres ul li {
  transition: 500ms ease-in-out;
}

.app-container .list-capres ul li h1 {
  display: none;
  position: absolute;
  top: 50%;
  font-family: "Open Sans", sans-serif;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--h1);
  transition: 500ms ease-in-out;
  font-weight: 700;
  transform-origin: top left;
  rotate: z 30deg;
  border: 0.2rem solid var(--setempel-color);
  color: var(--setempel-color);
  padding: 1rem;
}

.app-container .list-capres figure {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.app-container .list-capres h3 {
  width: 100%;
}

.app-container figure div {
  position: relative;
  height: 80%;
  width: 100%;
  margin-bottom: 0.8rem;
  box-sizing: border-box;
  @media (width <= 458px) {
    height: 25rem;
  }
}

.app-container figure img {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.app-container .list-suara ul {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  justify-items: start;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.app-container .list-alasan ul {
  display: grid;
  margin-top: 2rem;
  row-gap: 2rem;
}

.app-container .list-suara ul li {
  background: var(--secondary-color);
  text-align: center;
  width: 100%;
  display: grid;
  padding: 1rem 3rem;
  row-gap: 1rem;
}

.app-container .list-alasan ul li p {
  text-align: left;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container .wrapper h1 {
  margin: 4rem 0;
}

.app-container label {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: var(--h5);
  color: var(--headings-color);
  display: block;
  margin-bottom: 2rem;
}

.app-container input {
  width: 100%;
  margin-top: 1rem;
  outline: none;
  background: var(--secondary-color);
  box-sizing: border-box;
  border: 0;
  padding: 1rem;
  height: 3.5rem;
}

.overlay .wrapper {
  width: 35rem;
  background: var(--primary-color);
  padding: 4rem;
  padding-top: 0;
}

.overlay .wrapper h1 {
  text-align: center;
}

.overlay form {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}

.overlay form div {
  margin: auto;
  display: flex;
  gap: 2rem;
}

.overlay form p {
  text-align: center;
  margin-top: 1rem;
}

.overlay form p span {
  opacity: 0.6;
}

.overlay button {
  background: var(--contrast-color);
  font-size: var(--body-text);
  color: var(--primary-color);
  border: 0;
  margin: auto;
  margin-top: 1rem;
  width: fit-content;
  padding: 0.5rem 2.2rem;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 900;
}

.overlay form .close-btn {
  background: transparent;
  border: 0.1rem solid var(--contrast-color);
  color: var(--contrast-color);
}

.overlay .change-form-type-btn {
  padding: 0;
  background: transparent;
  color: var(--headings-color);
}

.overlay .error-msg {
  font-size: calc(var(--body-text) - 0.2rem);
  color: var(--accent-color);
  margin-bottom: -1rem;
  text-align: left;
}

@media (width < 576px) {
  .overlay .wrapper {
    display: grid;
    width: 100svh;
    height: 100svh;
    align-content: center;
  }
}

/* Loading Animation */
.loader {
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
  width: 48px;
  height: 48px;
  border: 5px solid var(--contrast-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 9999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-title {
  margin-top: 2rem;
  display: inline-block;
  margin-right: 2rem;
}

.search-title + input {
  margin-top: 2rem;
  display: inline-block;
  max-width: 35rem;
  background: transparent;
  border: .1rem solid var(--body-color);
}
