/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");

/* Root */
:root {
  font-size: 62.5%;
  --h1: clamp(3.2rem, 4vw, 4rem);
  --column-gap: clamp(2rem, 4.2vw, 4.2rem);
  --gap: clamp(2rem, 4.2vw, 4.2rem);
  --title-space: clamp(1.5rem, 2vw, 2rem);
  --h2: clamp(2.4rem, 3.2vw, 3.2rem);
  --accent-color: #ff0000;
  --secondary-color: #f5f5f5;
  --primary-color: #fff;
  --contrast-color: #000;
  --contrast-border-color: #fff;
  --date-picker-color: invert(30%);
  --button-color: #fff;
  --headings-color: #333;
  --body-color: #444;
  --input-color: #fff;
  --white-space: clamp(2rem, 4.2vw, 4.2rem);
  --h3: clamp(2.2rem, 2.4vw, 2.4rem);
  --h4: clamp(1.6rem, 2vw, 2rem);
  --h5: clamp(1.4rem, 1.6vw, 1.6rem);
  --body-text: clamp(1.4rem, 1.6vw, 1.6rem);
  --max-width: 96rem;
  --border-radius: 1.2rem;
  @media (prefers-color-scheme: dark) {
    --date-picker-color: invert(70%);
    --contrast-color: #fff;
    --headings-color: #f0f0f0;
    --body-color: #bebebe;
    --secondary-color: #1d1d1d;
    --primary-color: #0e0e0e;
    --input-color: #1d1d1d;
  }
}

body {
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  background: var(--primary-color);
  overflow-x: hidden;
  box-sizing: border-box;
}

.app-container {
  padding: var(--white-space);
  width: 100%;
  max-width: var(--max-width);
  box-sizing: border-box;
  margin: auto;
}

.app-container header {
  margin-bottom: 4rem;
}

.app-container h1,
.app-container h2,
.app-container h3,
.app-container h4,
.app-container h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

.app-container h2,
.app-container h3,
.app-container h4,
.app-container h5 {
  color: var(--headings-color);
}

.app-container h1 {
  font-size: var(--h1);
  color: var(--contrast-color);
  text-align: center;
}

.app-container h1 span {
  color: var(--accent-color);
}

.app-container h2 {
  font-size: var(--h2);
}

.app-container h3 {
  font-size: var(--h3);
}

.app-container h4 {
  font-size: var(--h4);
}

.app-container h5 {
  font-size: var(--h5);
}

.app-container p,
.app-container a,
.app-container figcaption {
  font-family: "Source Sans 3";
  font-size: var(--body-text);
  color: var(--body-color);
  line-height: 1.5;
  font-weight: 400;
  max-width: 80ch;
}

.app-container strong {
  font-weight: bold;
  color: var(--headings-color);
}

.app-container section {
  margin-bottom: 4rem;
}

.app-container .list-capres ul {
  display: grid;
  width: 100%;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-top: 2rem;
}

.app-container .list-capres figure {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.app-container .list-capres h3 {
  width: 100%;
}

.app-container figure img {
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: .8rem;
}

.app-container .list-suara ul {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  justify-items: start;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.app-container .list-alasan ul {
  display: grid;
  margin-top: 2rem;
  row-gap: 2rem;
}

.app-container .list-suara ul li {
  background: var(--secondary-color);
  text-align: center;
  width: 100%;
  display: grid;
  padding: 1rem 3rem;
  row-gap: 1rem;
}


.app-container .list-alasan ul li p {
  text-align: left;
}




